.PhotoUpload {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.PhotoUpload__text {
  font-size: calc(16px + 2vmin);
  line-height: 1.25;
  text-align: center;
}
