.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s cubic-bezier(0.59, -0.4, 0.5, 2);
  height: 10vh;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate3D(0, 0, 0, 0);
  }
  to {
    transform: rotate3D(0.1, 0.2, 1, 360deg);
  }
}
