-----BEGIN OPENSSH PRIVATE KEY-----
AABAAABFwAAAAdzc2gtcnb3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAA
some long key
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAEAAAAABG5vbmUAAOIqwkk
-----END OPENSSH PRIVATE KEY-----
