.PhotoCrop {
  max-width: 300px;
  width: 300px;
  margin: auto;
}

.PhotoCrop__Cropper {
  position: relative;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px darkslateblue dashed;
}

.PhotoCrop__image {
  width: 100%;
}

.PhotoCrop__image:hover {
  cursor: move;
}

.row {
  display: flex;
  justify-content: space-between;
}
